<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keshe.mapper.FacilityMapper">

    <update id="update" parameterType="com.keshe.pojo.Facility">
        UPDATE facility
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="capacity != null">capacity = #{capacity},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            updated_at = #{updatedAt}
        </set>
        WHERE facility_id = #{facilityId}
    </update>

</mapper>